

@media (max-width: 768px) {

    h1 {
      text-align: center;
      padding: 10px;
    }
    .locs-container {
      padding: 0.3em;
    }
   
    .map {
      height: 50vh;
    }
   
    .loc-list li {
      padding: 0.5em;
    }
   
    .pie {
      width: 80px;
      height: 80px;
    }
   
    .selected-loc.show {
      max-height: 20em;
      width: 400px;
    }
   
    .form-search {
      text-align: center;
    }
   }
   
   @media (max-width: 480px) {
    .loc-list h4 {
      flex-direction: column;
    }
   
    .loc-btns button {
      padding: 0.3em;
      margin: 0.1em;
    }
   
    .loc-filter input[type=text] {
      width: 95%;
    }
   
    .user-msg {
      left: 10px;
      right: 10px;
      text-align: center;
    }
   }
